*{
    margin: 0px;
    padding: 0px;
    font-family: arial;

}

footer{
    text-align: center;

}
a{
    text-decoration: none;
}
a:hover{
    text-decoration: none;
}
.article{
    width: 50%;
    height: 50%;
}

.admin-table{
    width: 100%;

}
.form-item{
    width: 100%;

}

textarea{
    height: 500px;
}
label{
    width: 100%;
}
.text{
    width: 250px;
    height: 180px;
}
.text2{
    width: 250px;
    height: 25px;
    margin: 0px 0px 10px 0px;
}
input[name='email']:error{
    border-color: red;
}
.but{
    border-radius: 10px;
    border: 1px solid;
    width: 170px;
    height: 25px;
    margin: 0px -5px 10px 0px;
    background: #e7b841;
}

.signup{
    text-align: center;
    border-bottom: 3px solid #FFAA00;
    background: #FFD580;
}
.regist{

    margin: 250px auto;
    text-align: center;
    width: 300px;

}
.reg_box{
    background: #FFD580;
    width: 300px;
    border-radius: 10px;
    height: 300px;
    padding-top: 20px
}
.reg_text{
    border-radius: 100px;
    border: 1px solid;
    width: 250px;
    height: 30px;
    padding: 0px 0px 0px 8px;
    margin-bottom: 20px
}
.reg{
    margin-bottom: 20px;
}
.reg_but{
    border-radius: 100px;
    border: 1px solid;
    width: 250px;
    height: 30px;
    padding: 0px 0px 0px 8px;
    margin-top: 20px;
    background: #e7b841;
}
.tooop{
    padding-top: 20px;
}
.teeext:hover{
    background: #d6d6d6;
}
.sub{
    text-align: center;
    background: #ffdc97;
}
.sub_form{
    background: #FFD580;
    height: 130px;
    border-bottom: 3px solid #FFAA00;
    border-top: 3px solid #FFAA00;
    padding-top: 5px;
}
.sub_text{
    border-radius: 100px;
    border: 1px solid;
    width: 180px;
    height: 30px;
    padding: 0px 0px 0px 8px;

}
.sub_but{
    border-radius: 10px;
    border: 0;
    width: 180px;
    background: rgba(243, 91, 91, 0.87);
    color: #fff;
}
.sub_but:hover{
    background: rgba(217, 21, 21, 0.87)
}
.grid {
    display: flex;
    flex-direction: row;
    flex-shrink: 2;
    justify-content: space-between;
    width: 100%;
    align-items: stretch;
}

.column {
    display: block;
}

.left {
    width: 70%;
}

.right {
    width: 29%;
    max-width: 270px;
    background-color: #ffdc97;
}
.textar{
    width: 100%;
    border-radius: 30px;
    padding: 15px;
    margin-bottom: 10px
}
.lastnews{
    margin-top: 20px;
    padding: 20px;
    background: #FFD580;
    border-top: 3px solid #FFAA00;
}
.tags{
    padding: 20px;
    background: #FFD580;

    border-bottom: 3px solid #FFAA00;
}
.section{
    padding: 20px;
    background: #FFD580;
    border-top: 3px solid #FFAA00;
}
.name{
    text-align: center;
}
.search{
    border-radius: 100px;
    border: 1px solid;
    width: 180px;
    height: 30px;
    padding: 0px 0px 0px 8px;
}
.search_but{
    border-radius: 100px;
    border: 0px;
    padding: 5px;
    background: rgba(175, 175, 175, 0.91);
    color:#ffffff;
}
.searching{
    margin-top: 20px;
    text-align: center;
}
.arrows{
    margin: 0 auto;
}
.poslikes{

    display: flex;
}
.formplus{
    display: block;
}
.likes{
    font-size: 20px;
    display: block;
    margin-left: 5px;
    margin-right: 5px;
}
.plus1{
    position: relative;
    border: 0px;
    border-radius: 500px;
    width: 25px;
    height: 25px;
    background: #00d91a;
}
.minus1{
    border: 0px;
    border-radius: 500px;
    width: 25px;
    height: 25px;
    background: #d90000;
}